.registrate-main-container {
  background-color: #fff;
  position: relative;
  max-width: 1643px;
  max-height: 950px;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 375px) {
  .registrate-main-container {
    min-width: 375px;
    min-height: 812px;
  }
}